{% extends 'blog_base.html' %}{% load static %}{% block title %} NSUK-KONNET |
Blog{% endblock %} {% block content %}
<div class="market container-fluid" style="margin: 0px">
  <div class="about-header">
    <div class="row market-main" style="background: rgb(14, 180, 166)">
      <div class="col-md-4 market-main-left">
        <img
          class="d-none d-lg-block"
          src="{% static 'market/girl1.png' %}"
          alt="girl picture..."
        />
      </div>
      <div class="col-md-4 market-main-middle">
        <div>
          <h6>
            Search Anything in
            <span
              style="
                background: rgb(255, 255, 255);
                padding: 5px;
                border-radius: 5%;
              "
              >NSUK-KONNET</span
            >
          </h6>
          <form action="" method="GET" class="pt-3 market-search-form">
            <span class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder="You are looking for...."
              />
              <button class="input-group-text">Search</button>
            </span>
          </form>
        </div>
      </div>

      <div class="col-md-4 market-main-right" style="text-align: left">
        <img
          class="d-none d-lg-block"
          src="{% static 'market/girl.png' %}"
          height="20px"
          alt=""
        />
      </div>
    </div>
  </div>
  <hr style="width: 60%; margin: 3% auto" />
  <div class="row">
    <div class="col-md-3">left pain for categories</div>
    <div class="col-md-9">
      <div class="row market-product">
        {% for product in products %}
        <div class="col-md-3 col-sm-6 market-product-inner">
          <div>
            <div style="text-align: center; background: red">
              <img
                class="img-responsive"
                src="{{product.image.url}}"
                alt="product image"
                style="max-width: 100%; height: auto"
              />
            </div>
            <h5 style="width: 100%; padding: 2%; text-align: center">
              {{product.name}}
            </h5>
            <hr />
            Price Tag: #{{product.price}}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
