{% extends 'blog_base.html' %}{% load static %}{% block title %} NSUK-KONNET |
Product detail{% endblock %} {% block content %}
<div class="product-detail container-fluid">
  <div class="row">
    <!-- <h3 style="text-align: center">{{product.name}}</h3> -->
    <div class="col-md-4 product-detail-left">
      <img src="{{product.image.url}}" alt="Product image" />
    </div>
    <div class="col-md-4 product-detail-middle">
      <div class="inner-nav-link pb-3">
        <a href="/" id="inner-nav-link-a">Home</a> /
        <span class="inner-nav-link-span">Product Details</span>
      </div>
      <div>
        <h3>{{product.name}}</h3>
        <h4>₦{{product.price}}</h4>
      </div>
      <div class="product-detail-middle-action">
        <p>
          <a href="" class="btn btn-outline-dark">View Contact</a>
        </p>
        <p>
          <a href="" class="btn btn-outline-dark" style="background: white"
            >Request callback</a
          >
        </p>
        <p>
          <a href="" class="btn btn-outline-dark">Send Message</a>
        </p>
      </div>
      <div style="margin: 8% 0px">
        <h4>Product Detail</h4>
        <p>{{product.description}}</p>
      </div>
      <div style="margin: 8% 0px">
        <h4>Reviews</h4>
        <p>No reviews have been made by costumers before</p>
      </div>
    </div>
    <!-- end of middle section -->
    <div class="col-md-4 product-detail-right">
      <div class="product-detail-right-inner">
        <h5>Seller's Info</h5>
        <hr />
        <div class="product-detail-right-inner-house">
          <div style="margin: 3%">
            <img src="{{product.image.url}}" alt="Owner picture" />
          </div>
          <div class="product-detail-right-inner-profile">
            <h5 style="align-self: right">Mr John David</h5>
            <p>Last seen:</p>
            {{product.date}}
            <p>Address:</p>
          </div>
        </div>
      </div>
      <!-- end of seller profile-->

      <div class="safety">
        <h5 style="color: rgb(69, 120, 120)">Safety Tips</h5>
        <hr />
        <ul>
          <li>Avoid Payments before delivery</li>
          <li>Meet in Safe place for collection</li>
          <li>Inspect good ensure standards before payment</li>
          <li>Report any fraudulent seller for further action</li>
        </ul>
      </div>
    </div>

    <!--end of safety tip-->
  </div>
</div>
{% endblock %}
