.market{
    /*  */
}
.market-main-left img{
    height: 100%;
    width: 100%;
}

.market-main-right{
    background: rgb(14, 180, 166);
    text-align: left;
}
.market-main-right img,.market-main-left img{
    height: 100%;
    width: 60%;
}
.market-main-middle{
    padding: 7% 3%;
    height: 200%
}
.market-search-form input{
    padding:15px;
}
.market-product{
    margin: 2%;
    background-color: rgb(255, 255, 255);
    padding:0px;
}
.market-product-inner{
    padding: 0%;
    padding-bottom: 3%;
}
.market-product-inner img{
    height: 100%;
    width: 100%;
}
.market-product-inner:hover{
    /* background: rgb(86, 161, 86); */
    box-shadow: 0px 0px 15px grey;
}

/* customer's order page */

.customer-order{
    padding: 5%
}
.order-table th{
    color:rgb(14, 180, 166);
}