.market{
    /*  */
}
.market-main-left img{
    height: 100%;
    width: 100%;
}

.market-main-right{
    background: rgb(14, 180, 166);
    text-align: left;
}
.market-main-right img,.market-main-left img{
    height: 100%;
    width: 60%;
}
.market-main-middle{
    padding: 7% 3%;
    height: 200%
}
.market-search-form input{
    padding:15px;
}
.market-side-bar{
    background: white;
}
.market-side-bar a{
    text-decoration: none;
}
.market-side-bar img{
    height: 20px;
    width: 20px;
}
.market-product{
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 2% 2%;
    padding: 2%;
    height: auto;
}
.market-product-main{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px lightgrey;
    font-size: .9em;
    color: rgb(14, 180, 166);
}
.market-product-inner{
    height: 200px;max-width: 100%;
    text-align: center;
    color: rgb(14, 180, 166);
}
.market-product-inner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.market-product-text h2,a{
    /* text-decoration: none; */
    color:rgb(14, 180, 166);
    font-size: 20px;
}
.market-product-inner:hover{
    /* background: rgb(86, 161, 86); */
    box-shadow: 0px 0px 15px grey;
}










/* customer's order page */

.customer-order{
    padding: 5%
}
.order-table th{
    color:rgb(14, 180, 166);
}