{% extends 'blog_base.html' %}{% load static %}{% block title %} NSUK-KONNET |
About Us{% endblock %} {% block content %}
<div>
  <div class="about-header">
    <img src="{% static 'main/about.jpg' %}" alt="about image" />
    <h2 class="pt-4">Excellent Solution for your campus gist and shopping</h2>
  </div>
  <hr style="width: 60%; margin: 3% auto" />
  <div class="row about-body">
    <h4 class="pb-2">What we do....</h4>
    <div class="col-md-8">
      <div>
        Here at
        <span style="color: rgb(14, 180, 166); font-weight: bold"
          >NSUK-KONNET</span
        >
        we are bent on providing you with the most quality, prompt and accurate
        news within and outside the campus. we have also seen the necessasity of
        providing a convinient market place for students to easily shop and buy
        their desire stuff within close proximity.. checkout our
        <a href="/market">Market Place</a>
      </div>
      <h4 class="pb-3 pt-3">Who we are....</h4>
      <div>
        <span style="color: rgb(14, 180, 166); font-weight: bold"
          >NSUK-KONNET</span
        >
        was created and is currently runned by a group of past and present
        student of this great and prestigous institution(Nasaraw State
        University). It is headed and managed by Mr Michael Dama Yohanna a
        student of computer science department.
      </div>
    </div>
    <div class="col-md-4">
      <div class="">
        <button
          data-bs-toggle="collapse"
          data-bs-target="#faq1"
          class="btn btn-dark faq-btn"
          style="width: 100%; text-align: left"
        >
          + Our Mission
        </button>

        <div id="faq1" class="collapse pt-2">
          Sorry about that, unfortunately, when you reject your admission there
          is nothing we can do about that. You instead advice to look out for
          admission in other schools you include in your choice. Best regards
        </div>
      </div>
      <div class="pt-4">
        <button
          data-bs-toggle="collapse"
          data-bs-target="#faq2"
          class="btn btn-dark faq-btn"
          style="width: 100%; text-align: left"
        >
          + Our Vision.
        </button>

        <div id="faq2" class="collapse pt-2">
          Kindly to the contact us tab and fill in a complain. while you do so?
          provide your admission number and your school invoice ID number for
          rectification
        </div>
      </div>
      <div class="pt-4">
        <button
          data-bs-toggle="collapse"
          data-bs-target="#faq3"
          class="btn faq-btn"
          style="width: 100%; text-align: left"
        >
          + Achievements
        </button>

        <div id="faq3" class="collapse">
          Having difficulties during login can be as a result of using to wrong
          pasword, or not correcting typing your matric number. Do not that the
          default password for Undergraduate full time is "123456", while the
          one for part-time is "Student@1". for PG school the password
          "12345678". please note that all password are without qoutes. if after
          trying password and you still have issues, Kindly use the contact us
          tab to log your complain for further processing.
        </div>
      </div>
      <br /><br />Follow us on Social Media
      <a href=""
        ><i
          class="fa-brands fa-facebook sec"
          style="padding: 2%; font-size: 30px"
        ></i
      ></a>
      <a href=""
        ><i
          class="fa-brands fa-square-twitter sec"
          style="padding: 2%; font-size: 30px"
        ></i
      ></a>
      <a href=""
        ><i
          class="fa-brands fa-instagram sec"
          style="padding: 2%; font-size: 30px"
        ></i
      ></a>
    </div>
  </div>
  {% endblock %}
</div>
