{% extends 'blog_base.html' %}{% load static %}{% block title %} NSUK-KONNET |
About Us{% endblock %} {% block content %}
<div>
  <div class="about-header">
    <img src="{% static 'main/about.jpg' %}" alt="about image" />
    <h2 class="pt-4">Excellent Solution for your campus gist and shopping</h2>
  </div>
  <hr style="width: 60%; margin: 3% auto" />
  <div class="row about-body">
    <h4 class="pb-2">What we do....</h4>
    <div class="col-md-8">
      <div>
        Here at
        <span style="color: rgb(14, 180, 166); font-weight: bold"
          >NSUK-KONNET</span
        >
        we are bent on providing you with the most quality, prompt and accurate
        news within and outside the campus. we have also seen the necessasity of
        providing a convinient market place for students to easily shop and buy
        their desire stuff within close proximity.. checkout our
        <a href="/market">Market Place</a>
      </div>
      <h4 class="pb-3 pt-3">Who we are....</h4>
      <div>
        <span style="color: rgb(14, 180, 166); font-weight: bold"
          >NSUK-KONNET</span
        >
        was created and is currently runned by a group of past and present
        student of this great and prestigous institution(Nasaraw State
        University). It is headed and managed by Mr Michael Dama Yohanna a
        student of computer science department.
      </div>
    </div>
    <div class="col-md-4 about-right">
      <div class="">
        <button
          data-bs-toggle="collapse"
          data-bs-target="#faq1"
          class="btn faq-btn"
          style="width: 100%; text-align: left"
        >
          + Our Mission
        </button>

        <div id="faq1" class="collapse pt-2">
          Provision of news, pass question, CBT practice system and a
          comprehensive safe market place for student around the campus
        </div>
      </div>
      <div class="pt-4">
        <button
          data-bs-toggle="collapse"
          data-bs-target="#faq2"
          class="btn faq-btn"
          style="width: 100%; text-align: left"
        >
          + Our Vision.
        </button>

        <div id="faq2" class="collapse pt-2">
          Safe and efficient information center and market place. Plus all in
          onelearning kits.
        </div>
      </div>
      <div class="pt-4">
        <button
          data-bs-toggle="collapse"
          data-bs-target="#faq3"
          class="btn faq-btn"
          style="width: 100%; text-align: left"
        >
          + Achievements
        </button>

        <div id="faq3" class="collapse">
          So far we have help business owners within school to scale up their
          sales by 20% over the time. Students are also delighted with out upto
          date news of happening around the university
        </div>
        <br /><br />Follow us on Social Media
        <a href=""
          ><i
            class="fa-brands fa-facebook sec"
            style="padding: 2%; font-size: 30px"
          ></i
        ></a>
        <a href=""
          ><i
            class="fa-brands fa-square-twitter sec"
            style="padding: 2%; font-size: 30px"
          ></i
        ></a>
        <a href=""
          ><i
            class="fa-brands fa-instagram sec"
            style="padding: 2%; font-size: 30px"
          ></i
        ></a>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
