{% extends 'blog_base.html' %}{% load static %}{% block title %} NSUK-KONNET |
Blog{% endblock %} {% block content %}
<div class="container-fluid index-main" style="padding: 0px">
  <div class="index-bg">
    <img src="{% static 'main/bg.jpg' %}" alt="Index background" />
  </div>
  <!-- end of home background -->
  <div class="index-inner">
    <h4>Warm Welcome</h4>
    <h2 style="font-weight: bold" class="pb-5 primary">
      Welcome To
      <span class="sec">NSUK-KONNET</span>
      Your Complete Package
    </h2>
    <div class="row index-intro">
      <div class="col-md-3 pt-3">
        <img src="{% static 'main/legit.png' %}" alt="legit.png" />
        <h4 class="pt-2 primary">Legit Information</h4>
        <p style="line-height: 1.8; font-weight: lighter">
          Here in NSUK-KONNET, we provide you with the latest and most accurate
          information within and outside the compus.
        </p>
      </div>
      <div class="col-md-3 pt-3">
        <img src="{% static 'main/mart.png' %}" alt="mart.png" />
        <h4 class="pt-2 primary">Market Place</h4>
        <p>
          You have item in mind you wish to purchase at cheap price? Browse
          through our category of items an purchase from the best seller
        </p>
      </div>
      <div class="col-md-3 pt-3">
        <img src="{% static 'main/guide.png' %}" alt="guide.png" />
        <h4 class="pt-2 primary">Student guidance</h4>
        <p>
          Starting out as new student can be really challenging. Here in
          NSUK-KONNET we have a compilation of all you need to get started in
          the university
        </p>
      </div>
      <div class="col-md-3 pt-3">
        <img src="{% static 'tiv.png' %}" alt="tv.png" />
        <h4 class="primary">Legit Information</h4>
      </div>
    </div>
    <!-- end of introduction heading. -->
    <hr />
    <div class="get-rid">
      <div class="row get-rid-inner">
        <div class="col-md-3 get-rid-inner-left">
          <img src="{% static 'main/lady.jpg' %}" alt="blog image" />
        </div>
        <div class="col-md-7 get-rid-inner-right">
          <h2>
            Get rid of
            <span class="sec">Old School Assumption.</span>
          </h2>
          <hr />
          <h4>
            As we are bent on serving you better always, we provide you with
            seemless experience filled with quality content. Information is
            Available like never before with us
          </h4>
        </div>
      </div>
    </div>
    <!-- end for get rid of  -->
    <!-- begining of statistic -->
    <div class="stats">
      <div class="inner-stats">
        <h5>Grow Your Business And Make More</h5>
        <h2>
          Not Convince About our
          <span class="sec">Market Place?</span>
          See stats for yourself.
        </h2>
        <div class="row pt-5">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4 stat-number">
                <h1>10,200</h1>
                <h5>Total Number of User</h5>
              </div>
              <hr class="stats-h" />
              <div class="col-md-4 stat-number">
                <h1>10,200+</h1>
                <h5>Goods In Stores</h5>
              </div>
              <hr class="stats-h" />
              <div class="col-md-4 stat-number">
                <h1>100%</h1>
                <h5>Succuesful Sales</h5>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <!-- testimony in stat -->
        <div class="test-in-stats">
          <div class="row test-in-stats-row">
            <div class="col-md-5 test-in-stats-row-inner">
              <div class="row pt-5">
                <div class="col-md-3">
                  <img
                    src="{% static 'main/me2.jpg' %}"
                    alt="testimony picture"
                    width="80"
                    height="80"
                    style="border-radius: 100%"
                  />
                </div>
                <div class="col-md-8" style="text-align: left">
                  <p>
                    My Shop has experience exponential growth in sales ever
                    since i registered on this platform. now i am able to make
                    4x of my prevous daily sales.
                  </p>
                  <h5>Mr Patrick Samuel</h5>
                  <p>/ Saler</p>
                </div>
              </div>
            </div>
            <div class="col-md-5 test-in-stats-row-inner-right">
              <div class="row pt-5">
                <div class="col-md-3">
                  <img
                    src="{% static 'main/me.jpg' %}"
                    alt="testimony picture"
                    width="80"
                    height="80"
                    style="border-radius: 100%"
                  />
                </div>
                <div class="col-md-8" style="text-align: left">
                  <p>
                    My Shop has experience exponential growth in sales ever
                    since i registered on this platform. now i am able to make
                    4x of my prevous daily sales.
                  </p>
                  <h5>Mr Patrick Samuel</h5>
                  <p>/ Saler</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end of stats -->
      <div class="pt-5 fade-in-up" style="position: relative">
        <h5>Worried about your studies? We got you.</h5>
        <h2 class="pt-3">
          We have a collection <span class="sec"> just for you.</span>
        </h2>
        <!-- floating image -->
        <img
          src="{% static 'main/guidance2.png' %}"
          alt="leaf.png"
          width="90"
          style="position: absolute; left: 1%; top: 20%"
        />
        <br />
        <img
          src="{% static 'main/guidance.png' %}"
          alt="leaf.png"
          width="90"
          style="position: absolute; right: 12%; bottom: 20%"
        />
        <img
          src="{% static 'main/study.jpg' %}"
          class="pt-5"
          width="100%"
          alt="study picture"
        />
      </div>
    </div>
    <!-- end of collection -->

    <!-- begining of blog section -->
    <div>
      <h5>Read About happening.</h5>
      <h2>Browse through <span class="sec">Our blog post</span></h2>
      <div class="row mt-4" style="padding: 4% 8%; text-align: left">
        {% for post in posts %}
        <div
          class="col-md-4"
          style="
            background: #f8f8f8;
            padding: 0px;
            margin-top: 2%;
            margin-right: 2%;
            padding-bottom: 3%;
            box-shadow: 0px 0px 25px rgb(182, 175, 175);
          "
        >
          <img src="{{post.image.url}}" alt="me" style="width: 100%" />

          <div style="padding: 1% 3%">
            <p>{{post.created_on}}</p>
            <h3>{{post.title | truncatewords:10}}</h3>
          </div>
        </div>
        {% endfor %}
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <!-- end for blog section in index -->
    <!-- begining of ace section -->
    <div class="ace-main">
      <h4>Ace Your exams at go</h4>
      <h2>See the Secret to Exam success</h2>
      <div class="row pt-4">
        <div class="col-md-3 pt-5" style="padding: 0px 2%; margin: 2%">
          <div
            style="background-color: #ffffff; padding: 0px; border-radius: 3px"
          >
            <img
              src="{% static 'main/fes2.jpg' %}"
              alt="computer image"
              width="100%"
            />
            <a href="" style="text-decoration: none"
              ><h5
                style="margin: 0px; text-align: justify; padding: 3%"
                class="pb-5"
              >
                Try out our CBT app with sample questions.
              </h5></a
            >
          </div>
        </div>
        <div
          class="col-md-5 .d-none"
          style="box-shadow: 0px 0px 15px #f2f2f2; padding: 0px; display: none"
        >
          <img
            src="{% static 'main/fes.jpg' %}"
            alt="computer image"
            width="100%"
            class=".d-sm-none .d-md-block"
          />
        </div>
        <div class="col-md-3 pt-5" style="padding: 0px 2%; margin: 2%">
          <div
            style="
              background-color: #ffffff;
              padding: 0px;
              box-shadow: 0px 0px 25px #cac8c8;
              border-radius: 3px;
            "
          >
            <img
              src="{% static 'main/fes2.jpg' %}"
              alt="computer image"
              width="100%"
            />
            <a href="" style="text-decoration: none"
              ><h5
                style="
                  margin: 0px;
                  text-align: justify;
                  padding: 3%;
                  color: rgb(14, 180, 166);
                "
                class="pb-5 pt-3"
              >
                Try out our CBT app with sample questions.
              </h5></a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- end of cbt section -->
    <!-- begining of new letter -->
    <div
      class="row"
      style="padding: 0px 6%; background-color: #ffffff; text-align: left"
    >
      <div class="col-md-6 pt-5">
        <h5>Subscribe to our Newsletter</h5>
        <p>
          Never be left out in all the happening within and outside your
          environment by signing on our news letter as we provide you with edge
          cutting update, freshly baked from authentic source directly into your
          email for your comfortable consumption
        </p>
        <form action="/main/newsletter/subscribe" method="post">
          <input
            type="email"
            name="email"
            id="email"
            style="width: 80%; padding: 1%"
          />
          <button
            style="padding: 1.4%; background: rgb(14, 180, 166); border: none"
          >
            Subscribe
          </button>
        </form>
      </div>
      <div class="col-md-6">
        <img src="{% static 'main/news.jpg' %}" alt="" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
