/* all blog related css are placed here */
/* BLOG POST LIST PAGE CSS */
/* -------------------------- */
.post-list h3{
    padding: 2%;
}
.inner-nav-link a{
    text-decoration: none;
    color: black;
    
}
.inner-nav-link a:hover{
    text-decoration: underline;
}
.inner-post-list{
    padding:0% 5%;
}
.post-card:hover{
    box-shadow: 0px 0px 26px rgb(192, 190, 190);
}
/* BLOG POST DETAIL PAGE CSS */
/*  ------------------*/
.blog-detail-content{
    width: 95%; 
    /* padding-left: 2%; */
    padding-top: 2%
}
.blog-detail-more{
    width: 95%
}
.blog-detail-more h1{
    font-weight: bold;
}
.more-post-card{
    box-shadow: 0px 0px 15px rgb(202, 199, 199);
    border-radius: 2%;
}
.blog-detail-comment{
    width: 95%;
    margin-bottom:5%;
}
.comment-date{
    color: rgb(147, 152, 156);
}
.side-bar{
    margin-top: 7%;
    padding-right: 4%;
    background:rgb(255, 255, 255);
}

.side-bar h3{
    margin:6% 0px;
}
.sidebar-popular-post a{
    text-decoration: none;
    color:rgb(44, 46, 46)
}
.sidebar-popular-post a:hover{
    color:  rgb(14, 180, 166);
}
.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 12%;
    background-color: white;
  }

  /* MAIN SEARCH PAGE CSS */
  /* --------------------- */
  .search-body{
    background-color: #f6fafa;
  }
  .main-search{
    margin-top: 8%;
  }
  .main-search input{
    padding:2.6%;
    width: 80%;
    border: none;
    background: white;
    box-shadow: 0px 0px 3px rgb(221, 216, 216);
    color:rgb(14, 180, 166);
  }
  .main-search input:hover{
    background: rgb(248, 245, 245);
    border-radius: none;
  }
  .main-search button{
    background: rgb(14, 180, 166);
    padding: 2.6%;
    border: none;
    color:white;
    width: 17%;
    font-weight: bold;
  }