{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- load Bootstrap online  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <!-- added google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arsenal:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta+Mahee&display=swap"
      rel="stylesheet"
    />
    <!-- load my costume css style here -->
    <link rel="stylesheet" href="{% static 'main/main_style.css' %}" />
    <title>{% block title %} Base Title {% endblock title %}</title>
  </head>
  <body>
    <!-- header section goes here -->
    <section>
      <nav
        class="navbar navbar-expand-lg navbar-light pt-3 pb-3 fixed-top"
        aria-label="Eleventh navbar example"
        style="background-color: white; box-shadow: 0px 4px 15px #f2f2f2"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="/">NSUK-KONNET</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample09"
            aria-controls="navbarsExample09"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdown09"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Product Management</a
                >
                <ul class="dropdown-menu" aria-labelledby="dropdown09">
                  <li>
                    <a class="dropdown-item" href="/product/management/category"
                      >Manage Category</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/product/management/product"
                      >Manage Product</a
                    >
                  </li>
                </ul>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/market">Market Place</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/pastQ">Pass Q</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
            </ul>
            <!-- profile picture in nav -->
            <span class="nav-item dropdown" style="padding: 0px 5%">
              <a
                class="nav-link dropdown-toggle"
                href="/account/profile"
                id="dropdown09"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ><img
                  style="border-radius: 100%"
                  src="{{ user.profile.image }}"
                  alt="Bootstrap"
                  width="30"
                  height="24"
              /></a>
              <ul class="dropdown-menu" aria-labelledby="dropdown09">
                <li>
                  <a class="dropdown-item" href="/account/profile">Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/account/change_password"
                    >Change Password</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/account/logout"
                    >Logout Session</a
                  >
                </li>
              </ul>
            </span>
            <!-- <form>
              <input
                class="form-control"
                type="text"
                placeholder="Search"
                aria-label="Search"
              />
            </form> -->
          </div>
        </div>
      </nav>
    </section>

    <!-- Body Section goes here -->
    <section style="margin: 0px">{% block content %} {% endblock %}</section>

    <!-- footer section goes here -->
    <section>
      <div class="elementor-section-wrap">
        <section
          class="elementor-section elementor-top-section elementor-element elementor-element-6fbe6e65 elementor-section-stretched elementor-section-boxed elementor-section-gap-beside-yes elementor-section-height-default elementor-section-height-default elementor-section-column-vertical-align-stretch"
          data-id="6fbe6e65"
          data-element_type="section"
          data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
          style="width: 1349px; left: 0px"
        >
          <div class="elementor-container elementor-column-gap-extended">
            <div class="elementor-row">
              <div
                class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-51545c78"
                data-id="51545c78"
                data-element_type="column"
              >
                <div class="elementor-column-wrap elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <section
                      class="elementor-section elementor-inner-section elementor-element elementor-element-7a4bdf43 elementor-section-gap-beside-no elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section-column-vertical-align-stretch"
                      data-id="7a4bdf43"
                      data-element_type="section"
                    >
                      <div
                        class="elementor-container elementor-column-gap-extended"
                      >
                        <div class="elementor-row">
                          <div
                            class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-741cd1a1"
                            data-id="741cd1a1"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-5b5975e3 elementor-widget elementor-widget-tm-heading"
                                  data-id="5b5975e3"
                                  data-element_type="widget"
                                  data-widget_type="tm-heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="tm-modern-heading">
                                      <div class="heading-primary-wrap">
                                        <h2
                                          class="heading-primary elementor-heading-title"
                                        >
                                          Address
                                        </h2>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-34dde669 maxcoach-list-layout-block elementor-widget elementor-widget-tm-list"
                                  data-id="34dde669"
                                  data-element_type="widget"
                                  data-widget_type="tm-list.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="maxcoach-list">
                                      <div class="item">
                                        <div class="link">
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">
                                                382 NE 191st St # 87394 Miami,
                                                FL 33179-3899
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="item">
                                        <div class="link">
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">
                                                +1 (305) 547-9909 (9am - 5pm
                                                EST, Monday - Friday)
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="mailto:support@maxcoach.com"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">
                                                support@maxcoach.com
                                              </div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-6dc1fe7c elementor-widget elementor-widget-tm-social-networks"
                                  data-id="6dc1fe7c"
                                  data-element_type="widget"
                                  data-widget_type="tm-social-networks.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div
                                      class="tm-social-networks style-large-icons layout-inline"
                                    >
                                      <ul class="list">
                                        <li class="item">
                                          <a
                                            class="link"
                                            aria-label="Facebook"
                                            href="#"
                                            target="_blank"
                                            rel="nofollow"
                                          >
                                            <i
                                              class="link-icon fab fa-facebook-square"
                                            ></i>
                                          </a>
                                        </li>
                                        <li class="item">
                                          <a
                                            class="link"
                                            aria-label="Twitter"
                                            href="#"
                                            target="_blank"
                                            rel="nofollow"
                                          >
                                            <i
                                              class="link-icon fab fa-twitter"
                                            ></i>
                                          </a>
                                        </li>
                                        <li class="item">
                                          <a
                                            class="link"
                                            aria-label="Instagram"
                                            href="#"
                                            target="_blank"
                                            rel="nofollow"
                                          >
                                            <i
                                              class="link-icon fab fa-instagram"
                                            ></i>
                                          </a>
                                        </li>
                                        <li class="item">
                                          <a
                                            class="link"
                                            aria-label="Linkedin"
                                            href="#"
                                            target="_blank"
                                            rel="nofollow"
                                          >
                                            <i
                                              class="link-icon fab fa-linkedin"
                                            ></i>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-d0daf0c elementor-widget elementor-widget-spacer"
                                  data-id="d0daf0c"
                                  data-element_type="widget"
                                  data-widget_type="spacer.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="elementor-spacer">
                                      <div class="elementor-spacer-inner"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-4df35712"
                            data-id="4df35712"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-c35e83a elementor-widget elementor-widget-tm-heading"
                                  data-id="c35e83a"
                                  data-element_type="widget"
                                  data-widget_type="tm-heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="tm-modern-heading">
                                      <div class="heading-primary-wrap">
                                        <h2
                                          class="heading-primary elementor-heading-title"
                                        >
                                          Explore
                                        </h2>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-1e7b5e7d maxcoach-list-layout-columns elementor-widget elementor-widget-tm-list"
                                  data-id="1e7b5e7d"
                                  data-element_type="widget"
                                  data-widget_type="tm-list.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="maxcoach-list">
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="https://maxcoach.thememove.com/main/start-here/"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">Start here</div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="https://maxcoach.thememove.com/main/success-story/"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">
                                                Success story
                                              </div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="https://maxcoach.thememove.com/main/blog/"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">Blog</div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="https://maxcoach.thememove.com/main/courses/"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">Courses</div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="https://maxcoach.thememove.com/main/about-us-01/"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">About us</div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="https://maxcoach.thememove.com/main/contact-us/"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">Contact us</div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-4394850a elementor-widget elementor-widget-spacer"
                                  data-id="4394850a"
                                  data-element_type="widget"
                                  data-widget_type="spacer.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="elementor-spacer">
                                      <div class="elementor-spacer-inner"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1ad05aaf"
                            data-id="1ad05aaf"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-3f48ab86 elementor-widget elementor-widget-tm-heading"
                                  data-id="3f48ab86"
                                  data-element_type="widget"
                                  data-widget_type="tm-heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="tm-modern-heading">
                                      <div class="heading-primary-wrap">
                                        <h2
                                          class="heading-primary elementor-heading-title"
                                        >
                                          Information
                                        </h2>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-571c403d maxcoach-list-layout-block elementor-widget elementor-widget-tm-list"
                                  data-id="571c403d"
                                  data-element_type="widget"
                                  data-widget_type="tm-list.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="maxcoach-list">
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="https://maxcoach.thememove.com/main/membership-account/"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">Membership</div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="https://maxcoach.thememove.com/main/purchase-guide/"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">
                                                Purchase guide
                                              </div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="https://maxcoach.thememove.com/main/privacy-policy/"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">
                                                Privacy policy
                                              </div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                      <div class="item">
                                        <a
                                          class="link"
                                          href="https://maxcoach.thememove.com/main/terms-of-service/"
                                        >
                                          <div class="list-header">
                                            <div class="text-wrap">
                                              <div class="text">
                                                Terms of services
                                              </div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="elementor-element elementor-element-23462c59 elementor-widget elementor-widget-spacer"
                                  data-id="23462c59"
                                  data-element_type="widget"
                                  data-widget_type="spacer.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="elementor-spacer">
                                      <div class="elementor-spacer-inner"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section
                      class="elementor-section elementor-inner-section elementor-element elementor-element-7a86427 elementor-section-boxed elementor-section-gap-beside-yes elementor-section-height-default elementor-section-height-default elementor-section-column-vertical-align-stretch"
                      data-id="7a86427"
                      data-element_type="section"
                    >
                      <div
                        class="elementor-container elementor-column-gap-extended"
                      >
                        <div class="elementor-row">
                          <div
                            class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-abe5900"
                            data-id="abe5900"
                            data-element_type="column"
                          >
                            <div
                              class="elementor-column-wrap elementor-element-populated"
                            >
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-3186f6fd elementor-widget elementor-widget-tm-heading"
                                  data-id="3186f6fd"
                                  data-element_type="widget"
                                  data-widget_type="tm-heading.default"
                                >
                                  <div class="elementor-widget-container">
                                    <div class="tm-modern-heading">
                                      <div class="heading-description-wrap">
                                        <div class="heading-description">
                                          © 2020 Maxcoach. All Rights Reserved
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </body>
</html>
