{% extends 'blog_base.html' %}{% load static %}{% block title %} NSUK-KONNET |
Blog{% endblock %} {% block content %}
<div class="container-fluid pt-5" style="padding-left: 6%">
  <div class="row">
    <!-- main part of blog detail -->
    <div class="col-md-8 main-blog-detail">
      <div>
        <p>NSUK-KONNET UPDATE {{post_detail.created_on}}</p>
        <h2>{{post_detail.title}}</h2>
        <p class="pt-4">
          <img
            src="{{post_detail.image.url}}"
            alt="Photo image"
            width="95%"
            height="60%"
          />
        </p>
        <div class="blog-detail-content">{{post_detail.content | safe}}</div>
      </div>
      <!-- end of post detail -->
      <!-- begining of more post -->
      <div class="blog-detail-more">
        <h1 class="pt-5 pb-5">
          <span style="color: rgb(134, 134, 148)">More post from</span>
          NSUK-KONNET
        </h1>
        <div class="row">
          {% for post in more_post %}
          <div class="col-md-6">
            <div class="card-group more-post-card">
              <div class="card mb-4" style="border: 0px !important">
                <img
                  class="card-img-top"
                  src="{{post.image.url}}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <a
                    href="/blog/{{post.slug}}/"
                    style="text-decoration: none; color: rgb(56, 55, 55)"
                  >
                    <h3
                      class="card-title"
                      style="
                        font-family: 'Arsenal', sans-seri;
                        line-height: 2.7rem;
                        font-size: 150%;
                        text-decoration: none;
                      "
                    >
                      {{post.title}}
                    </h3>
                  </a>
                  <p class="card-text">
                    <small class="text-muted"
                      >Post on {{post.created_on}}</small
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- end of more post -->
      <!-- <hr /> -->
      <!-- begining of comment section -->
      <div class="blog-detail-comment">
        <!-- comment display -->
        <div>
          <h3>Comments({{post_detail.comments.all.count}})</h3>
          <div>
            <hr />
            {% for comment in post_detail.comments.all %}
            <h5>
              {% if comment.name %} {{comment.name}} {% else %} Anonymous
              {%endif%}
            </h5>
            <p>
              {{comment.body}} Thanks for always keeping your WordPress themes
              up to date. Your level of support and dedication is second to none
            </p>
            <h5 class="comment-date">{{comment.created_on}}</h5>
            <hr />
            {% endfor %}
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-4" style="text-align: right"><hr /></div>
          <div class="col-md-4" style="text-align: center">
            <h4>Write A Comment</h4>
          </div>
          <div class="col-md-4" style="text-align: left"><hr /></div>
        </div>
        <div>
          <form action="" method="POST">
            <div class="row pb-3">
              <div class="col-md-6 pb-3">
                <input
                  type="text"
                  name="name"
                  id="name"
                  style="width: 100%; padding: 1%"
                  placeholder="Name"
                />
              </div>
              <div class="col-md-6">
                <input
                  type="email"
                  name="email"
                  id="email"
                  style="width: 100%; padding: 1%"
                  placeholder="Email"
                />
              </div>
            </div>
            <p>
              <textarea
                name="body"
                id="body"
                placeholder="Enter Your Comment"
                style="width: 100%; height: 200px; padding: 1%"
              ></textarea>
            </p>
            {% csrf_token %}
            <button
              class="btn"
              style="
                color: white;
                font-weight: bold;
                padding: 8px 15px;
                border-radius: 0px;
                background: rgb(14, 180, 166);
              "
            >
              Post Comment
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- side bar section  -->
    <div class="col-md-4 side-bar">
      <h3>Search</h3>
      <form action="" method="GET" class="side-bar-search">
        <div class="input-group">
          <input type="text" name="search" id="search" class="form-control" />
          <button class="input-group-text" style="color: rgb(14, 180, 166)">
            Search
          </button>
        </div>
      </form>
      <h3>Popular Post</h3>
      {% for post in popular_post %}
      <div class="sidebar-popular-post">
        <a href="{% url 'blog:post_detail' post.slug %}"
          ><h5>{{post.title|truncatewords:7 }}</h5></a
        >
        <hr />
      </div>
      {% endfor %}
      <div class="sticky">
        <h3 class="pt-5">Popular Tag</h3>
        hello
        <p>another one</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
